{% extends "base.html" %}
{% load static %}


{% block head %}
<title>Product Details</title>
<link rel="stylesheet" href="{% static "css/style2.css" %}">
{% endblock head %}


{% block content %}
<h1>{{product.name}}</h1>
<img src="/uploads/{{product.image}}" width="30" height="30" alt="image">
<a href="{% url "products:list" %}">Back</a>
<a href="{% url "products:delete" product.id %}">Delete</a>
<a href="{% url "products:update" product.id %}">Update</a>
<hr>
<p>Price:{{product.price}}</p>
<p>Stock Remaining:{{product.stock}}</p>
<h5>
    <a href="{% url "products:cart" product.id %}">Add to Cart</a>
</h5>


{% endblock content %}